absl-py
annotated-types
astunparse
blinker
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
decorator
diffusers
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock
Flask
Flask-Cors
flatbuffers
fsspec
gast
google-pasta
grpcio
gTTS
h5py
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib_metadata
itsdangerous
Jinja2
keras
langcodes
language_data
libclang
marisa-trie
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
moviepy
mpmath
murmurhash
namex
networkx
numpy
opt_einsum
optree
packaging
pillow
preshed
proglog
pydantic
pydantic_core
Pygments
PyYAML
regex
requests
rich
safetensors
setuptools
shellingham
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
sympy
tensorboard
tensorboard-data-server
termcolor
thinc
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typer
typing_extensions
urllib3
wasabi
weasel
Werkzeug
wheel
wrapt
zipp
